terraform {
  backend "s3" {
    bucket         = "<state_bucket_name>"
    region         = "<aws_region>"
    profile        = "<aws_profile>"
    key            = "mlflow.tfstate"
    dynamodb_table = "<dynamodb_state_lock_table_name>"
    encrypt        = true
  }
}
